@primary: #1890ff;
@primary-hover: #40a9ff;
@primary-active: #096dd9;
@success: #52c41a;
@success-hover: #73d13d;
@success-active: #389e0d;
@warning: #fa8c16;
@warning-hover: #ffa940;
@warning-active: #d46b08;
@danger: #ff3535;
@danger-hover: #ff7171;
@danger-active: #b22424;
@black: #333;
@white: #ffffff;

// sidebar
@sideBar-logo: #002140;

// border
@border-color: #f0f0f0;

// scrollbar:
@scrollbar-primary: #8c8c8c;
@scrollbar-second: #bfbfbf;

// query

@form-item-background: #f4f5f7;